.st-main{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}
.st-main-title{
    text-align: center;
    margin-top: 20px;
   
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 44px;
    justify-content: center;
    height: 150px;
    padding: 10px;
}
.div-st-item{
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   row-gap: 15px;
   column-gap: 15px;
   
  
}
.link-st-content{
    text-decoration: none;
    color: #2b2a2a;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 7px 7px 7px rgba(62, 61, 61, 0.3);
    padding: 10px;}

    .link-st-content:hover{
        box-shadow: 7px 7px 7px rgba(139, 139, 139, 0.3);
    }

    .title-st-item{
        color: #2b2a2a;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
    }
    .content-date-stories{
        width: 65%;
        margin: auto;
        display: flex;
        flex-direction: column;
        box-shadow:1px 7px 7px 7px rgba(62, 61, 61, 0.3);
        margin-bottom: 50px;
        height: 100px;
        padding: 15px;
    }